<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>628215016696-uia1e1qc3kp0qn7l3flcnf592ujh4iid.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.628215016696-uia1e1qc3kp0qn7l3flcnf592ujh4iid</string>
	<key>API_KEY</key>
	<string>AIzaSyDo3yfsZwH8mpV5PpOIQOkTDJyzyOaxtlA</string>
	<key>GCM_SENDER_ID</key>
	<string>628215016696</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ChengzhiJia.CZBLEControl</string>
	<key>PROJECT_ID</key>
	<string>czblecontrol-1470773842212</string>
	<key>STORAGE_BUCKET</key>
	<string>czblecontrol-1470773842212.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:628215016696:ios:478523e1f33a018bbc9f0d</string>
	<key>DATABASE_URL</key>
	<string>https://czblecontrol-1470773842212.firebaseio.com</string>
</dict>
</plist>